@import 'tailwindcss';

@config '../../../../tailwind.config.cjs';

@layer theme {
	:root {
		--neutral: #ffffff;
		--primary: #7c3aed;
		--primary-deep: #5b21b6;
		--primary-mild: #8b5cf6;
		--primary-subtle: #7c3aed18;
		--error: #ff6a55;
		--error-subtle: #ff6a551a;
		--success: #10b981;
		--success-subtle: #05eb7624;
		--info: #4f46e5;
		--info-subtle: #4f46e51a;
		--warning: #f59e0b;
		--warning-subtle: #ffd40045;
		--gray-50: #faf9ff;
		--gray-100: #f4f2fa;
		--gray-200: #e7e3f0;
		--gray-300: #d4cede;
		--gray-400: #9c94aa;
		--gray-500: #71697f;
		--gray-600: #574f64;
		--gray-700: #403948;
		--gray-800: #29242f;
		--gray-900: #19151f;
		--gray-950: #0d0a12;
	}

	.dark {
		--neutral: #ffffff;
		--primary: #a78bfa;
		--primary-deep: #8b5cf6;
		--primary-mild: #c4b5fd;
		--primary-subtle: #a78bfa20;
		--error: #ff6a55;
		--error-subtle: #ff6a551a; 
		--success: #10b981;
		--success-subtle: #05eb7624;
		--info: #818cf8;
		--info-subtle: #818cf81f;
		--warning: #f59e0b;
		--warning-subtle: #ffd40045;
		--gray-50: #fafafa;
		--gray-100: #f5f5f5;
		--gray-200: #e5e5e5;
		--gray-300: #d4d4d4;
		--gray-400: #a3a3a3;
		--gray-500: #737373;
		--gray-600: #525252;
		--gray-700: #3f3a49;
		--gray-800: #292531;
		--gray-900: #19161f;
		--gray-950: #0d0a12;
	}
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}

	button, [role=button] {
		cursor: pointer;
	}

	body {
		@apply text-gray-500 dark:text-gray-400 text-sm bg-gray-50 dark:bg-gray-950 leading-normal font-medium;
		-webkit-font-smoothing: antialiased;
	}

	h1,
	.h1 {
		@apply text-4xl font-semibold tracking-tight text-gray-900 dark:text-gray-100;
	}

	h2,
	.h2 {
		@apply text-3xl font-semibold tracking-tight text-gray-900 dark:text-gray-100;
	}

	h3,
	.h3 {
		@apply text-2xl font-semibold tracking-tight text-gray-900 dark:text-gray-100;
	}

	h4,
	.h4 {
		@apply text-xl font-bold text-gray-900 dark:text-gray-100;
	}

	h5,
	.h5 {
		@apply text-lg font-bold text-gray-900 dark:text-gray-100;
	}

	h6,
	.h6 {
		@apply text-base font-semibold text-gray-900 dark:text-gray-100;
	}

	hr {
		@apply border-gray-200 dark:border-gray-600;
	}
}

@layer components {
	.heading-text {
		@apply text-gray-900 dark:text-gray-100;
	}
}
